.navbar-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.nav-head {
  margin: 10px;
  font-family: initial;
  color: white;
}
.nav-conatiner {
  display: flex;
  justify-content: space-around;
}
.search-button {
  height: 36px;
  border: 0px;
  outline: none;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: transparent;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: white;
  font-weight: bold;
}
.input {
  height: 36px;
  border: 0px;
  outline: none;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 10px;
  background-color: transparent;
  color: white;
}
.heading {
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  color: rgba(225, 39, 39, 0.811);
}
.logo {
  height: 25px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 576px) {
 .nav-conatiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}